<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChatModule</key>
	<dict>
		<key>feed2talk_chat_send_stretch_y</key>
		<dict>
			<key>value</key>
			<string>28</string>
		</dict>
		<key>feed2talk_chat_send_stretch_x</key>
		<dict>
			<key>value</key>
			<string>22</string>
		</dict>
		<key>feed2talk_chat_receive_stretch_y</key>
		<dict>
			<key>value</key>
			<string>28</string>
		</dict>
		<key>feed2talk_chat_receive_stretch_x</key>
		<dict>
			<key>value</key>
			<string>43</string>
		</dict>
		<key>chat_send_stretch_y</key>
		<dict>
			<key>value</key>
			<string>28</string>
		</dict>
		<key>chat_send_stretch_x</key>
		<dict>
			<key>value</key>
			<string>22</string>
		</dict>
		<key>chat_receive_stretch_y</key>
		<dict>
			<key>value</key>
			<string>28</string>
		</dict>
		<key>chat_receive_stretch_x</key>
		<dict>
			<key>value</key>
			<string>43</string>
		</dict>
		<key>chat_link_send_color</key>
		<dict>
			<key>rgb</key>
			<string>#FF36A2EF</string>
		</dict>
		<key>chat_link_receive_color</key>
		<dict>
			<key>rgb</key>
			<string>#FF36A2EF</string>
		</dict>
		<key>chat_text_send_color</key>
		<dict>
			<key>rgb</key>
			<string>#FF505050</string>
		</dict>
		<key>chat_text_receive_color</key>
		<dict>
			<key>rgb</key>
			<string>#FF505050</string>
		</dict>
	</dict>
	<key>PublisherModule</key>
	<dict>
		<key>AtFunctionFriendNameLabel</key>
		<dict>
			<key>name</key>
			<string>STHeitiSC-Light</string>
			<key>rgb</key>
			<string>255,255,255</string>
			<key>size</key>
			<string>13</string>
		</dict>
		<key>EmotionViewTabButtonHighLight</key>
		<dict>
			<key>name</key>
			<string>STHeitiSC-Light</string>
			<key>rgb</key>
			<string>152,154,156</string>
			<key>shadow</key>
			<string>0,1</string>
			<key>shadow_rgb</key>
			<string>255,255,255,1</string>
			<key>size</key>
			<string>14</string>
		</dict>
		<key>EmotionViewTabButton</key>
		<dict>
			<key>name</key>
			<string>STHeitiSC-Light</string>
			<key>rgb</key>
			<string>189,189,189</string>
			<key>shadow</key>
			<string>0,1</string>
			<key>shadow_rgb</key>
			<string>255,255,255,0.4</string>
			<key>size</key>
			<string>14</string>
		</dict>
	</dict>
	<key>SettingModule</key>
	<dict>
		<key>switch_button_color</key>
		<dict>
			<key>rgb</key>
			<string>41,155,215</string>
			<key>shadow_rgb</key>
			<string>8,106,160</string>
		</dict>
	</dict>
	<key>AudioRecordModule</key>
	<dict>
		<key>cancel_background</key>
		<dict>
			<key>rgb</key>
			<string>229,82,82</string>
		</dict>
		<key>record_label</key>
		<dict>
			<key>rgb</key>
			<string>78,78,78</string>
		</dict>
		<key>record_background</key>
		<dict>
			<key>rgb</key>
			<string>238,240,242</string>
		</dict>
		<key>record_line</key>
		<dict>
			<key>rgb</key>
			<string>224,225,229 </string>
		</dict>
	</dict>
	<key>FriendModule</key>
	<dict>
		<key>networkFont</key>
		<dict>
			<key>font</key>
			<string>Courier</string>
			<key>size</key>
			<string>13</string>
		</dict>
		<key>nameFont</key>
		<dict>
			<key>font</key>
			<string>Courier</string>
			<key>size</key>
			<string>15</string>
		</dict>
		<key>36FriendListSectionEnIndex</key>
		<dict>
			<key>name</key>
			<string>Helvetica-Bold</string>
			<key>rgb</key>
			<string>54,54,54</string>
			<key>size</key>
			<string>16</string>
		</dict>
		<key>37FriendListSectionCount</key>
		<dict>
			<key>name</key>
			<string>Helvetica</string>
			<key>rgb</key>
			<string>255,255,255</string>
			<key>shadow</key>
			<string>0,1</string>
			<key>shadow_rgb</key>
			<string>0,0,0,0.1</string>
			<key>size</key>
			<string>10</string>
		</dict>
		<key>38FriendListSectionZhIndex</key>
		<dict>
			<key>name</key>
			<string>STHeitiSC-Light</string>
			<key>rgb</key>
			<string>110,110,110</string>
			<key>size</key>
			<string>13</string>
		</dict>
		<key>38aFriendListBackgroundColor</key>
		<dict>
			<key>rgb</key>
			<string>255,255,255</string>
		</dict>
		<key>38bFriendListPopupViewLabel</key>
		<dict>
			<key>name</key>
			<string>STHeitiSC-Light</string>
			<key>rgb</key>
			<string>75,75,75</string>
			<key>size</key>
			<string>10</string>
		</dict>
		<key>38cFriendListPopupViewLabelHL</key>
		<dict>
			<key>name</key>
			<string>STHeitiSC-Light</string>
			<key>rgb</key>
			<string>58,147,221</string>
			<key>size</key>
			<string>10</string>
		</dict>
		<key>13WhiteTextViewPlaceholder</key>
		<dict>
			<key>name</key>
			<string>.HelveticaNeueUI</string>
			<key>rgb</key>
			<string>204,204,204</string>
			<key>size</key>
			<string>15</string>
		</dict>
		<key>14WhiteTextView</key>
		<dict>
			<key>rgb</key>
			<string>87,87,87</string>
			<key>size</key>
			<string>15</string>
		</dict>
	</dict>
	<key>CommonModule</key>
	<dict>
		<key>common_page_background_color</key>
		<dict>
			<key>rgb</key>
			<string>251,252,253</string>
		</dict>
		<key>fresh_animation</key>
		<dict>
			<key>duration</key>
			<string>0.8</string>
			<key>image_count</key>
			<string>14</string>
			<key>image_name_prefix</key>
			<string>refresh_animation_</string>
			<key>image_width</key>
			<string>56</string>
			<key>image_height</key>
			<string>32</string>
		</dict>
		<key>toolbar_animation</key>
		<dict>
			<key>duration</key>
			<string>0.8</string>
			<key>image_count</key>
			<string>1</string>
			<key>image_name_prefix</key>
			<string>main_toolbar_3-</string>
			<key>image_width</key>
			<string>72</string>
			<key>image_height</key>
			<string>50</string>
		</dict>
		<key>colorTypeJ</key>
		<dict>
			<key>rgb</key>
			<string>149,213,194</string>
		</dict>
		<key>colorTypeI</key>
		<dict>
			<key>rgb</key>
			<string>83,166,250</string>
		</dict>
		<key>colorTypeH</key>
		<dict>
			<key>rgb</key>
			<string>249,154,177</string>
		</dict>
		<key>colorTypeG</key>
		<dict>
			<key>rgb</key>
			<string>255,88,89</string>
		</dict>
		<key>colorTypeF</key>
		<dict>
			<key>rgb</key>
			<string>88,88,88</string>
		</dict>
		<key>colorTypeE</key>
		<dict>
			<key>rgb</key>
			<string>130,130,130</string>
		</dict>
		<key>colorTypeD</key>
		<dict>
			<key>rgb</key>
			<string>162,162,162</string>
		</dict>
		<key>colorTypeC</key>
		<dict>
			<key>rgb</key>
			<string>44,183,255</string>
		</dict>
		<key>colorTypeB</key>
		<dict>
			<key>rgb</key>
			<string>0,0,0</string>
		</dict>
		<key>colorTypeBackground</key>
		<dict>
			<key>rgb</key>
			<string>242,241,236</string>
		</dict>
		<key>cloudHistoryLabel</key>
		<dict>
			<key>rgb</key>
			<string>34,34,34,0.7</string>
			<key>shadow_rgb</key>
			<string>255,255,255,1</string>
			<key>shadow_offset</key>
			<string>0,1</string>
		</dict>
		<key>searchBar</key>
		<dict>
			<key>rgb</key>
			<string>246,246,246</string>
			<key>shadow_rgb</key>
			<string>227,227,227</string>
		</dict>
		<key>searchBarCancelBtn</key>
		<dict>
			<key>rgb</key>
			<string>82,82,82</string>
		</dict>
		<key>fontTypeA</key>
		<dict>
			<key>rgb</key>
			<string>80,80,80</string>
		</dict>
		<key>fontTypeB</key>
		<dict>
			<key>rgb</key>
			<string>124,124,124</string>
		</dict>
		<key>colorPopMenu</key>
		<dict>
			<key>rgb</key>
			<string>100,100,100</string>
		</dict>
	</dict>
	<key>FeedModule</key>
	<dict>
		<key>newsFeedTitleAuditMark</key>
		<dict>
			<key>size</key>
			<string>15</string>
			<key>rgb</key>
			<string>#d62f2f</string>
		</dict>
		<key>newsFeedCommentView</key>
		<dict>
			<key>rgb</key>
			<string>#FCFEFF</string>
		</dict>
		<key>newsFeedCommentUserName</key>
		<dict>
			<key>rgb</key>
			<string>#505050</string>
			<key>size</key>
			<string>13</string>
		</dict>
		<key>newsFeedCommentContent</key>
		<dict>
			<key>rgb</key>
			<string>#a0a0a0</string>
			<key>size</key>
			<string>13</string>
		</dict>
		<key>newsFeedCommentCount</key>
		<dict>
			<key>size</key>
			<string>13</string>
			<key>rgb</key>
			<string>#505050</string>
		</dict>
		<key>newsFeedUserOperationIcon</key>
		<dict>
			<key>size</key>
			<string>12</string>
			<key>rgb</key>
			<string>#787878</string>
		</dict>
		<key>newsFeedUserOperationView</key>
		<dict>
			<key>rgb</key>
			<string>#f7f9fa</string>
		</dict>
		<key>newsFeedUserOperationViewHL</key>
		<dict>
			<key>rgb</key>
			<string>#ebeced</string>
		</dict>
		<key>newsFeedSeperationLine</key>
		<dict>
			<key>rgb</key>
			<string>#dadbe1</string>
		</dict>
		<key>newsFeedLoadForMore</key>
		<dict>
			<key>rgb</key>
			<string>51,51,51</string>
		</dict>
		<key>newsFeedBlogContent</key>
		<dict>
			<key>size</key>
			<string>15</string>
			<key>rgb</key>
			<string>#505050</string>
		</dict>
		<key>newsFeedStatusContent</key>
		<dict>
			<key>size</key>
			<string>15</string>
			<key>rgb</key>
			<string>#282828</string>
		</dict>
		<key>newsFeedTitle</key>
		<dict>
			<key>rgb</key>
			<string>#282828</string>
			<key>size</key>
			<string>15</string>
		</dict>
		<key>newsFeedTimeAndDeviceDescribe</key>
		<dict>
			<key>size</key>
			<string>12</string>
			<key>rgb</key>
			<string>#999999</string>
		</dict>
		<key>newsFeedPlace</key>
		<dict>
			<key>size</key>
			<string>11</string>
			<key>rgb</key>
			<string>160, 160, 160</string>
		</dict>
		<key>newsFeedPlaceBg</key>
		<dict>
			<key>rgb</key>
			<string>#bec1c5</string>
		</dict>
		<key>newsFeedSelfUserName</key>
		<dict>
			<key>size</key>
			<string>15</string>
			<key>rgb</key>
			<string>51,51,51</string>
		</dict>
		<key>newsFeedUserName</key>
		<dict>
			<key>size</key>
			<string>15</string>
			<key>rgb</key>
			<string>#282828</string>
		</dict>
		<key>newsFeedSourceUserName</key>
		<dict>
			<key>size</key>
			<string>15</string>
			<key>rgb</key>
			<string>#505050</string>
		</dict>
		<key>newsFeedSubBackView</key>
		<dict>
			<key>rgb</key>
			<string>#FFFFFF</string>
		</dict>
		<key>newsFeedUserActionTitle</key>
		<dict>
			<key>size</key>
			<string>15</string>
			<key>rgb</key>
			<string>#999999</string>
		</dict>
		<key>newsFeedLikerHeadersView</key>
		<dict>
			<key>rgb</key>
			<string>246, 246, 249</string>
		</dict>
		<key>newsFeedLikerHeadersViewLabel</key>
		<dict>
			<key>size</key>
			<string>12</string>
			<key>rgb</key>
			<string>78,78,78</string>
		</dict>
		<key>colorTypeShow</key>
		<dict>
			<key>rgb</key>
			<string>255,0,0</string>
		</dict>
		<key>newsFeedTableView</key>
		<dict>
			<key>rgb</key>
			<string>#E4E6EB</string>
		</dict>
		<key>newsFeedHorizontalSeparationLine</key>
		<dict>
			<key>rgb</key>
			<string>#dcdde2</string>
		</dict>
		<key>newsFeedShareSeparationLine</key>
		<dict>
			<key>rgb</key>
			<string>#e4e6eb</string>
		</dict>
		<key>newsFeedMapViewUserName</key>
		<dict>
			<key>size</key>
			<string>15</string>
			<key>rgb</key>
			<string>#ffffff</string>
		</dict>
		<key>newsFeedMapViewLocation</key>
		<dict>
			<key>size</key>
			<string>11</string>
			<key>rgb</key>
			<string>#a0a0a0</string>
		</dict>
		<key>newsFeedMapViewe</key>
		<dict>
			<key>rgb</key>
			<string>#303237</string>
		</dict>
		<key>newsFeedLBSPosition</key>
		<dict>
			<key>rgb</key>
			<string>#60aa57</string>
		</dict>
		<key>newsFeedVoiceLabel</key>
		<dict>
			<key>size</key>
			<string>16</string>
			<key>rgb</key>
			<string>#505050</string>
		</dict>
		<key>newsFeedVoiceCommentLabel</key>
		<dict>
			<key>size</key>
			<string>13</string>
			<key>rgb</key>
			<string>#505050</string>
		</dict>
		<key>newsFeedForwardComment</key>
		<dict>
			<key>size</key>
			<string>15</string>
			<key>rgb</key>
			<string>#282828</string>
		</dict>
		<key>newsFeedShareLinkSubView</key>
		<dict>
			<key>rgb</key>
			<string>#F7F9FA</string>
		</dict>
		<key>newsFeedPopMenuLine</key>
		<dict>
			<key>rgb</key>
			<string>#545a62</string>
		</dict>
		<key>newsFeedPopMenuTitle</key>
		<dict>
			<key>rgb</key>
			<string>#ffffff</string>
			<key>size</key>
			<string>12</string>
		</dict>
		<key>newsFeedPopMenuBackColorNl</key>
		<dict>
			<key>rgb</key>
			<string>5c636d</string>
		</dict>
		<key>newsFeedPopMenuBackColorHl</key>
		<dict>
			<key>rgb</key>
			<string>#232428</string>
		</dict>
		<key>newsFeedCommonText</key>
		<dict>
			<key>rgb</key>
			<string>58,147,221</string>
		</dict>
	</dict>
	<key>MiniPublisherModule</key>
	<dict>
		<key>47bMiniPublisherTextViewBG</key>
		<dict>
			<key>rgb</key>
			<string>128,128,128</string>
		</dict>
	</dict>
	<key>General</key>
	<dict>
		<key>CommonBlack</key>
		<dict>
			<key>rgb</key>
			<string>0,0,0</string>
		</dict>
		<key>CommonRed</key>
		<dict>
			<key>rgb</key>
			<string>255,0,0</string>
		</dict>
		<key>CommonGreen</key>
		<dict>
			<key>rgb</key>
			<string>0,255,0</string>
		</dict>
	</dict>
	<key>ProfileModule</key>
	<dict>
		<key>groupProfile_background_color</key>
		<dict>
			<key>rgb</key>
			<string>222,223,226</string>
		</dict>
		<key>userProfile_sigMiniEdit_btn_color</key>
		<dict>
			<key>rgb</key>
			<string>38,140,198</string>
		</dict>
		<key>userProfile_rbtn_title_font</key>
		<dict>
			<key>size</key>
			<string>16.0</string>
			<key>rgb</key>
			<string>41,152,215</string>
		</dict>
		<key>userProfile_lbtn_title_font</key>
		<dict>
			<key>size</key>
			<string>16.0</string>
			<key>rgb</key>
			<string>96,170,87</string>
		</dict>
		<key>userProfile_btns_title_font</key>
		<dict>
			<key>rgb</key>
			<string>41,152,215</string>
			<key>size</key>
			<string>16.0</string>
		</dict>
		<key>userProfile_btns_bgColor</key>
		<dict>
			<key>rgb</key>
			<string>246,246,249</string>
		</dict>
		<key>userBaseView_bgcolor</key>
		<dict>
			<key>rgb</key>
			<string>226,228,231</string>
		</dict>
		<key>userProfile_sheet_bgcolor</key>
		<dict>
			<key>rgb</key>
			<string>48,50,55</string>
		</dict>
		<key>userProfile_action_cancle_button</key>
		<dict>
			<key>rgb</key>
			<string>250,251,253</string>
		</dict>
		<key>userProfile_action_button</key>
		<dict>
			<key>rgb</key>
			<string>250,251,253</string>
		</dict>
	</dict>
</dict>
</plist>
