<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConfigModule</key>
	<dict>
		<key>tabbar_showHead</key>
		<dict>
			<key>value</key>
			<string>YES</string>
		</dict>
		<key>tabbar_isGlass</key>
		<dict>
			<key>value</key>
			<true/>
		</dict>
		<key>tabbar_publisher_is_show_title</key>
		<dict>
			<key>value</key>
			<true/>
		</dict>
		<key>tabbar_animation_inteval</key>
		<dict>
			<key>value</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>ChatModule</key>
	<dict>
		<key>chat_link_send_color</key>
		<dict>
			<key>rgb</key>
			<string>#FFB2DFFF</string>
		</dict>
		<key>chat_link_receive_color</key>
		<dict>
			<key>rgb</key>
			<string>#FF36A2EF</string>
		</dict>
		<key>chat_text_send_color</key>
		<dict>
			<key>rgb</key>
			<string>#FFFFFFFF</string>
		</dict>
		<key>chat_text_receive_color</key>
		<dict>
			<key>rgb</key>
			<string>#FF505050</string>
		</dict>
		<key>chat_time_color</key>
		<dict>
			<key>rgb</key>
			<string>#FFA0A0A0</string>
		</dict>
		<key>chat_line_color</key>
		<dict>
			<key>rgb</key>
			<string>#FFDADBE1</string>
		</dict>
		<key>chat_bgcolor</key>
		<dict>
			<key>rgb</key>
			<string>#FFFBFCFD</string>
		</dict>
	</dict>
	<key>CommonModule</key>
	<dict>
		<key>publisher_animation_type</key>
		<dict>
			<key>value</key>
			<string>1</string>
		</dict>
		<key>ios7_titlebar_color</key>
		<dict>
			<key>rgb</key>
			<string>#FF3085E6</string>
		</dict>
		<key>friendlist_bgcolor</key>
		<dict>
			<key>rgb</key>
			<string>#FFFBFCFD</string>
		</dict>
		<key>session_bgcolor</key>
		<dict>
			<key>rgb</key>
			<string>#FFFBFCFD</string>
		</dict>
		<key>find_bgcolor</key>
		<dict>
			<key>rgb</key>
			<string>#FFE7E8E9</string>
		</dict>
		<key>fresh_animation_complete</key>
		<dict>
			<key>duration</key>
			<string>0.5</string>
			<key>image_width</key>
			<string>40</string>
			<key>image_height</key>
			<string>40</string>
			<key>image_count</key>
			<string>3</string>
			<key>image_name_prefix</key>
			<string>loading3_</string>
		</dict>
		<key>fresh_animation_loading</key>
		<dict>
			<key>duration</key>
			<string>1.0</string>
			<key>image_width</key>
			<string>40</string>
			<key>image_height</key>
			<string>40</string>
			<key>image_count</key>
			<string>42</string>
			<key>image_name_prefix</key>
			<string>loading2_</string>
		</dict>
		<key>fresh_animation_triggered</key>
		<dict>
			<key>duration</key>
			<string>0.5</string>
			<key>image_width</key>
			<string>40</string>
			<key>image_height</key>
			<string>40</string>
			<key>image_count</key>
			<string>0</string>
			<key>image_name_prefix</key>
			<string>loading3_</string>
		</dict>
		<key>fresh_animation_pull</key>
		<dict>
			<key>duration</key>
			<string>0.5</string>
			<key>image_width</key>
			<string>40</string>
			<key>image_height</key>
			<string>40</string>
			<key>image_count</key>
			<string>11</string>
			<key>image_name_prefix</key>
			<string>loading1_</string>
		</dict>
		<key>common_button_color</key>
		<dict>
			<key>rgb_disable</key>
			<string>#FFFAFAFD</string>
			<key>rgb</key>
			<string>#FF0666BA</string>
			<key>rgb_hl</key>
			<string>#FF2552A1</string>
		</dict>
		<key>publisher_animation</key>
		<dict>
			<key>repeat_count</key>
			<string>0</string>
			<key>image_height</key>
			<string>68</string>
			<key>image_width</key>
			<string>64</string>
			<key>duration</key>
			<string>0.8</string>
			<key>image_count</key>
			<string>0</string>
			<key>image_name_prefix</key>
			<string>common_btn_publisher_animation</string>
		</dict>
	</dict>
	<key>FeedModule</key>
	<dict>
		<key>fresh_bgcolor</key>
		<dict>
			<key>rgb</key>
			<string>#FFFBFCFD</string>
		</dict>
		<key>newsfeed_border_color</key>
		<dict>
			<key>rgb</key>
			<string>#FFD7D8D9</string>
		</dict>
	</dict>
	<key>ProfileModule</key>
	<dict>
		<key>userProfile_more_btn_color</key>
		<dict>
			<key>rgb</key>
			<string>#FFF3F5F8</string>
		</dict>
		<key>userProfile_btn_border_color</key>
		<dict>
			<key>rgb</key>
			<string>#FFF0F1F2</string>
		</dict>
		<key>userProfile_background_color</key>
		<dict>
			<key>rgb</key>
			<string>#FFF0F1F2</string>
		</dict>
	</dict>
</dict>
</plist>
